<%- include('../header'); %>
<!-- BEGIN breadcrumb -->
<ol class="breadcrumb float-xl-end">
  <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
  <li class="breadcrumb-item active">전송 로그</li>
</ol>
<!-- END breadcrumb -->
<!-- BEGIN page-header -->
<h1 class="page-header mb-3">전송 로그</h1>
<!-- END page-header -->

<div class="row">
  <div class="col-12">
    <!-- BEGIN panel -->
    <div class="panel panel-inverse">
      <!-- BEGIN panel-heading -->
      <div class="panel-heading">
        <h4 class="panel-title">
          리스트
          <a href="javascript:;" onclick="wasUtils.addUserInfo()" class="btn btn-success btn-xs d-inline-block ms-2">신규회원 <i class="fa fa-plus"></i></a>
        </h4>
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>          
          <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
        </div>
      </div><!-- END panel-heading -->
      <form method="get" name="listForm" id="listForm" autocomplete="off" action="javascript:;;">      
      <input type="hidden" name="s_page" value="<%=s_page%>">   
      <input type="hidden" name="s_order" value="<%=s_order%>">
      <input type="hidden" name="s_orderdir" value="<%=s_orderdir%>">
      <!-- BEGIN panel-body -->
      <div class="panel-body"> 
        <div class="row">
          <div class="col-sm-6">
            <div class="panel-tools-item">
              <select name="s_pagecnt" class="form-select form-select-sm w-sm-auto me-sm-2">
              <% 
                for(let el of s_pageArray) {
                  let selected = (el == s_pagecnt)?'selected':'';
                  __append(`<option value="${el}" ${selected}>${el}</option> `);
                }
              %>
              </select> 
              <label class="w-sm-auto text-end">개씩보기</label>
            </div>
          </div>
          <div class="col-sm-6 mb-2">
            <div class="panel-tools-item justify-content-end">
              <select name="s_key" class="form-select form-select-sm w-sm-auto me-sm-2">
              <% 
                for(let el in s_keyArray) {                    
                  let selected = (el == s_key)?'selected':'';
                  __append(`<option value="${el}" ${selected}>${s_keyArray[el]}</option> `);
                }
              %>                
              </select>               
              <div class="input-group input-group-sm input-search-group">
                <input type="text" name="s_value" id="s_value" class="form-control" value="<%=s_value%>" placeholder="검색어">
                <button type="button" class="btn btn-indigo" onclick="appUtils.page_search()"><i class="fas fa-search"></i> 검색</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside"><span class="caret"></span></button>
                <div class="dropdown-menu dropdown-menu-end">
                  <div class="form-group dropdown-item">
                    <label>빠른메뉴</label>
                    <select name="s_quick" class="form-select form-select-sm">
                      <% 
                        for(let el in s_quickArray) {                    
                          let selected = (el == s_quick)?'selected':'';
                          __append(`<option value="${el}" ${selected}>${s_quickArray[el]}</option> `);
                        }
                      %>                          
                    </select>
                  </div>
                  <div class="form-group dropdown-item">
                    <label>상태</label>
                    <select name="s_status" class="form-select form-select-sm">                      
                      <%                                               
                        for(let el in s_statusArray) {                                       
                          let selected = (el == s_status)?'selected':'';
                          __append(`<option value="${el}" ${selected}>${s_statusArray[el]}</option> `);
                        }
                      %>                          
                    </select>
                  </div>                             
                  <div class="form-group dropdown-item">                    
                    <label>시작일</label>
                    <input type="text" class="form-control form-control-sm dtpicker" placeholder="시작일" name="s_sdate" value="<%=s_sdate%>">
                  </div>                  
                  <div class="form-group dropdown-item">                    
                    <label>종료일</label>
                    <input type="text" class="form-control form-control-sm dtpicker" placeholder="종료일" name="s_edate" value="<%=s_edate%>">
                  </div>                  
                  <div class="dropdown-item">
                    <div class="d-inline-block"><span class="btn btn-sm btn-default" onclick="appUtils.page_init()">리셋</span></div>
                    <div class="d-inline-block float-end"><span class="btn btn-sm btn-indigo" onclick="appUtils.page_search()">검색</span></div>
                  </div>
                  <div class="dropdown-divider"></div>
                  <div class="form-group dropdown-item">
                    <a href="javascript:;" class="btn btn-secondary btn-sm d-block" onclick="exportExcel(this)"><i class="fa-solid fa-file-excel"></i> 엑셀다운로드</a>
                  </div>
                  <div class="form-group dropdown-item">
                    <a href="javascript:;" class="btn btn-secondary btn-sm d-block" onclick="exportPrint(this)"><i class="fa-solid fa-print"></i> 프린트</a>
                  </div>
								</div>                
              </div>
            </div>
          </div>
        </div><!--//.row-->
        <div class="row">          
          <div class="col-sm-12 table-responsive">
            <table class="table dataTable table-striped table-hover table-bordered align-middle">
              <thead>              
                <tr>
                  <th class="text-nowrap w10 p-8px">
                    <input type="checkbox" class="form-check-input" onchange="$('input[name=transidx]').prop('checked', this.checked);">
                  </th>                  
                  <th class="text-nowrap sorting <%-h.misc.checkOrder('U.f_name', s_order, s_orderdir)%>" data-order="U.f_name" onclick="wasUtils.setOrder(this)">이름</th>
                  <th class="text-nowrap sorting <%-h.misc.checkOrder('U.f_email', s_order, s_orderdir)%>" data-order="U.f_email" onclick="wasUtils.setOrder(this)">이메일</th>
                  <th class="text-nowrap">구분</th>
                  <th class="text-nowrap">수량</th>
                  <th class="text-nowrap">주소</th>                  
                  <th class="text-nowrap">상태</th>                  
                  <th class="text-nowrap w80 sorting <%-h.misc.checkOrder('A.idx', s_order, s_orderdir)%>" data-order="A.idx" onclick="wasUtils.setOrder(this)">등록일</th>
                </tr>
              </thead>
              <tbody>
              <% if (!list || list.length == 0 ) { %>
                <tr>
                  <td class="text-center h-50px" colspan="15">
                    데이터가 존재하지 않습니다.
                  </td>
                </tr>
                <% 
                  } else { 
                    list.forEach(function(el, index) {

                      let status = el.f_status;
                      switch (status) {
                        case 1:
                          status = `대기`;
                          break;
                        case 2:
                          status = `전송중`;
                          break;
                        case 3:
                          status = `완료`;
                          break;
                        case 4:
                          status = `실패`;
                          break;
                        case 9:
                          status = `삭제`;
                          break;
                        default:
                          break;
                      }

                      let ttype = el.f_type;
                      switch (ttype) {
                        case 1:
                          ttype = 'Ace입금';
                          break;                      
                        case 2:
                          ttype = '롤업';
                          break;                      
                        case 3:
                          ttype = '출금';
                          break;                      
                        default:
                          break;
                      }
                %>
                <tr>
                  <td>
                    <input type="checkbox" class="form-check-input"  name="useridx" value="<%-el.idx%>">
                  </td>
                  <td><%=el.f_name%></td>
                  <td><%=el.f_email%></td>
                  <td>
                    <%=ttype%>
                  </td>
                  <td class="text-end">
                    <%-h.misc.setFormatNumberWithPlacesSmall(el.f_amount, 2, true)%>
                  </td>
                  <td class="text-end">
                    
                  </td>
                  <td class="text-center">                    
                    <%-status%>
                  </td>
                  <td class="text-center">          
                    <%=h.misc.formatDateTime(el.f_regAt)%>
                  </td>
                </tr>
                <%                      
                    });
                  }
                %>
              </tbody>
            </table>
          </div>
        </div><!-- //.row-->
        <div class="row pt-2">
          <div class="col-sm-5">
            <%=`총 ${h.misc.setFormatNumber(totalcnt)}개중 ${h.misc.setFormatNumber(pagesnum)}부터 ${h.misc.setFormatNumber(pageenum>totalcnt?totalcnt:pageenum)}까지 출력중`%>
          </div>
          <div class="col-sm-7">
            <%-pagination%>
          </div>
        </div>        
      </div><!-- END panel-body -->
      </form>
    </div><!-- END panel -->
  </div><!-- //.col-->
</div><!-- //.row-->

<script>


</script>

<%- include('../footer'); %>

